<div class="container">
  <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Departments</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Departments</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <a href="#" class="btn btn-outline-warning mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="addstudent" class="btn btn-warning mx-2"><i class="fas fa-plus"></i></a>
         </div>
      </div>
   </div>
           <div class="row">
            <div class="col-lg-12">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col" colspan="6" class="show">Show
                    <form action="">
                      <input type="number" style="width: 40px; height: 20px;" name="" id="">
                    </form> Entries</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">HOD</th>
                  <th scope="col">Started Year</th>
                  <th scope="col">No Of Student</th>
                  <th scope="col">Action</th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="4">Showing 1 to 6 of 6 entries</td>
                  <td colspan="2"><div class="btn-group" role="group" aria-label="Basic mixed styles example">
                      <button type="button" class="btn btn-light" disabled>Previous</button>
                      <button type="button" class="btn btn-warning">I</button>
                      <button type="button" class="btn btn-light" disabled>Next</button>
                    </div></td>
                </tr>
              </tbody>
            </table>
            </div>
            </div>
            
            <hr>
       <h2 class="copy">
          Copyright @2020 Dreamguys. 
       </h2>     
  
                   
          
        
      
  
  
  
  
  