<div class="container-fluid">
    <div class="row justify-content-center m-5">
        <div class="col-md-6 back">
           <img src="../../assets/logo-small.png" alt="">
        </div>
        <div class="col-md-6 forget">
            <form action="" class="form">
               <h2 class="text-center">Forgot Password?</h2>
               <h4 class="text-center">Enter Your Email To Get A Password Link</h4>
            <div class="form-group">
                <input type="email" class="form-control" email name="email" placeholder="email" id=""><br>
            </div>
           <div class="form-group">
            <button class="btn btn-info w-100">Reset Password</button><br>
            </div>

             <h2 class="text-center my-2 acc">Remember Your Password? <a href="#" class="login">login</a></h2>
            
            </form>
        </div>
</div>


